<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="hadi ahmed">
    <meta name="description" content="my Portfolio">
    <meta name="keywards" content="html , css , js">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/fonts/remixicon.css">
    <title>Portfolio</title>
</head>
<body>
  <header class="header header-with-scrol">
      
      <div class="logo">
          <a>Sofan<span class="tech">Tec</span></a>
      </div>
      <nav class="navBar">
          <ul>
              <li data-hr="#home" class="active"><a href="#home">Home <span></span></a></li>
              <li data-hr="#about"><a href="#about">About <span></span></a></li>
              <li data-hr="#services"><a href="#services">Services <span></span></a></li>
              <li data-hr="#ourWorks"><a href="#ourWorks">our works <span></span></a></li>
              <li data-hr="#contact"><a href="#contact">Contact Me <span></span></a></li>
          </ul>
      </nav>
      <div class="menu-btn">
          <i class="ri-menu-line"></i>
      </div>
      <div class="phoneNumber">
          <a href="/users/login">login</a>
          <span class="seprator">|</span>
          <i class="ri-phone-fill"></i>
          <a class="">+967 777 607 485</a>
      </div>
      
  </header>
  <!-- ###### start home section ##########-->
  <section class="home" id="home">
      <div class="dark-sun-mode">
          <i id="dark-mode" class="ri-contrast-2-fill"></i>
      </div>
      <div class="txt-content">
          <div class="hello">
              <span class="separate"></span>
              <h4>hello </h4>
          </div>
          
          <h2>I'M HADI AHMED</h2>
          <P>Full Stack Web Developer</P>
          <div class="button">
              <button class="btn">Hire Me</button>
              <a href="/pdf/CV_HADIsofan.pdf" download class="btn">Download Cv <i class="ri-download-2-fill"></i></a>
          </div>
      </div>
      <div class="image">
          <img src="/images/profile/profile-pic (14).png" alt="Eng.hadi ahmed">
      </div>
  </section>
  <!-- ###### start home section ##########-->

  <!-- ###### start about section ##########-->
  <section class="about" id="about">
      <div class="main-header">
          <h2 class="main-title">About Me</h2>
          <ul class="line">
              <li></li>
              <li></li>
              <li></li>
          </ul>

      </div>
      <div class="about-me">
          <div class="about-image">
              <div class="img-box">
                  <img src="/images/profile/profile-pic (19).png">
              </div>
              <div class="image-shape"></div>
          </div>
          <div class="about-content">
              <div class="title-section">
                  <!-- <h5 class="sub-header">About ?</h5> -->
                  <h3 class="main-title">Why You Hire Me?</h3>
                  <ul class="line">
                      <li></li>
                      <li></li>
                      <li></li>
                  </ul>
  
              </div>
              <p>Have sufficient knowledge in web development and software engineering </p>
              <div class="progress-skils">
                  <div class="progress-item">
                      <div class="progress-header">
                          <h6 class="progress-item-header">Html5 Css3</h6>
                          <div class="skill-persentage">
                              <p>
                                  <span class="counter">90</span>
                                  %
                              </p>
                          </div>
                      </div>
                      <div class="skill-bar">
                          <div class="bar-inner">
                              <div class="bar progress-line" style="width: 90%;" data-progres="90"></div>
                          </div>
                      </div>
                  </div>
                  <div class="progress-item">
                      <div class="progress-header">
                          <h6 class="progress-item-header">javascript</h6>
                          <div class="skill-persentage">
                              <p>
                                  <span class="counter">70</span>
                                  %
                              </p>
                          </div>
                      </div>
                      <div class="skill-bar">
                          <div class="bar-inner">
                              <div class="bar progress-line" style="width: 70%;" data-progres="70"></div>
                          </div>
                      </div>
                  </div>
                  <div class="progress-item">
                      <div class="progress-header">
                          <h6 class="progress-item-header">Bootstrap</h6>
                          <div class="skill-persentage">
                              <p>
                                  <span class="counter">80</span>
                                  %
                              </p>
                          </div>
                      </div>
                      <div class="skill-bar">
                          <div class="bar-inner">
                              <div class="bar progress-line" style="width: 80%;" data-progres="80"></div>
                          </div>
                      </div>
                  </div>
                  <div class="progress-item">
                      <div class="progress-header">
                          <h6 class="progress-item-header">Php</h6>
                          <div class="skill-persentage">
                              <p>
                                  <span class="counter">60</span>
                                  %
                              </p>
                          </div>
                      </div>
                      <div class="skill-bar">
                          <div class="bar-inner">
                              <div class="bar progress-line" style="width: 60%;" data-progres="80"></div>
                          </div>
                      </div>
                  </div>
              </div>
  
          </div>   
      </div>
  </section>
  <!-- ###### end about section ##########-->

  <!-- ###### start services section ##########-->
  <section class="services" id="services">
      <div class="heding">
          <span>our services</span>
          <h2>We offer All about design and programming</h2>
      </div>
      <div class="box-container">
          <div class="service-box">
              <div class="box">
                  <div class="service-icon">
                      <i class="ri-macbook-fill"></i>
                  </div>
                  <h4>web design</h4>
                  <p>Web site design and programming</p>
              </div>
          </div>
          <div class="service-box">
              <div class="box">
                  <div class="service-icon">
                      <i class="ri-brush-fill"></i>
                  </div>
                  <h4>Mobile App</h4>
                  <p>introduct All about design and programming</p>
              </div>
          </div>
          <div class="service-box">
              <div class="box">
                  <div class="service-icon">
                      <i class="ri-bug-2-fill"></i>
                  </div>
                  <h4>bug fixes</h4>
                  <p>fixes Errors caused by design or programming</p>
              </div>
          </div>
          <div class="service-box">
              <div class="box">
                  <div class="service-icon">
                      <i class="ri-search-eye-fill"></i>
                  </div>
                  <h4>seo</h4>
                  <p>Search Engine Optimization</p>
              </div>
          </div>
      </div>
      
  </section>
  <!-- ###### end services section ##########-->

  <!-- ###### start our work section ##########-->
  <section class="our-work" id="ourWorks">
      <div class="main-header">
          <h2 class="main-title">Our Work</h2>
          <ul class="line">
              <li></li>
              <li></li>
              <li></li>
          </ul>
      </div>
      <div class="work-container">
          <div class="box">
              <div class="image">
                  <a href="https://sofantech.github.io/yemeni-house/"><img src="/images/our work/our work three.png"></a>
              </div>
          </div>
          <div class="box">
              <div class="image">
                  <a href="https://sofantech.github.io/html-css-template-on/"><img src="/images/our work/our work four.png"></a>
              </div>
          </div>
          <div class="box">
              <div class="image">
                  <a href="https://sofantech.github.io/Rowad-challenge/"><img src="/images/our work/our-work-two.png"></a>
              </div>
          </div>
          <div class="box">
              <div class="image">
                  <img src="/images/our work/portfolio-4.jpg">
              </div>
          </div>
          <div class="box">
              <div class="image">
                  <a href="https://sofantech.github.io/SofanTec_Company/"><img src="/images/our work/sofantec.png"></a>
              </div>
          </div>
      </div>

  </section>
  <!-- ###### end our work section ##########-->

  <!-- ###### start contact section ##########-->
  <section class="contact" id="contact">
      <div class="box-container">
          <div class="social-media-box">
              <a class="#"><i class="ri-stackshare-fill"></i>contact </a>
              <p>You can find us on social media</p>
              <div class="social-links">
                  <a href="www.facebook.com" class="ri-facebook-circle-fill"></a>
                  <a href="https://twitter.com/HadiAhmed32965469?t=IDVWQBOb0GHmhwWUnuHA9w&s=09" class="ri-twitter-fill"></a>
                  <a href="https://github.com/sofantech" class="ri-github-fill"></a>
                  <a href="https://LinkedIn.com/hadi Ahmed" class="ri-linkedin-fill"></a>
              </div>
          </div>
          <div class="form-box">
              <form id="form">
                  <input class="" id="userName" type="text" placeholder="Your Name">
                  <span></span>
                  <input id="email" type="email" placeholder="Email Address">
                  <div class="errortxt"></div>
                  <input id="subject" type="text" placeholder="Subject">
                  <span></span>
                  <textarea id="message" placeholder="Message"></textarea>
                  <span></span>
                  <input type="submit" class="btn send" value="send"></button>
              </form>
          </div>
      </div>
  </section>
    <!-- ###### end contact section ##########-->
    <!-- ###### start footer ##########-->
    <footer class="footer" id="footer">
        <p>All Right Recerved 2022 &copy;</p>
    </footer>
    <!-- ###### end footer##########-->
    <script src="/js/script.js">
  </script>
</body>

</html>